<footer class="footer">
    <div class="container text-center">
        <p>Made by Pranav, Atharva, Vinayak & Rohit | <a href="https://github.com/pranavrao56/Book-Trading-Project"><i class="fa fa-github" aria-hidden="true"></i> Github</a></p>
    </div>
</footer>
